ass4/src/data/snli_1.0/*
ass4/src/data/glove.6B.200d.txt
ass1/grad_check.pyc
ass1/loglinear.pyc
ass1/utils.pyc
.vscode/.DS_Store
.vscode/settings.json
.vscode/.DS_Store
.DS_Store
ass1/mlp1.pyc
ass1/xor_data.pyc
ass1/mlpn.pyc
*.pyc
venv/
venv1/
venv2/
venv3/
venv4/
*.iml
*.xml
*.ner
*.pos
/ass3/data/models/*
models_smaller*
*/venv/
*/snli_1.0/*

